.main{
    background: #2c2c2c;
    width: 100%;
    height: 96vh;
	
}
#progressbar{
	position: absolute;
	margin-left: -49px;
	margin-top: -23px;
	top:50%;
	left:50%
}
/*dropzone don't show status elements*/
.dz-success-mark, .dz-error-mark {
    /*display: none;*/
}
img{
	position: absolute;
	margin-left: -85px;
	margin-top: -100px;
	top:50%;
	left:50%
}
.label {
    padding-top: 20px;
    font-size: 28px;
    color: white;
	position: absolute;
	width: 500px;
	margin-left: -250px;
	margin-top: 50px;
	top:50%;
	left:50%;	
}
.label a{
    text-decoration: none;
    color: white;
}
.label .error{
    font-size:15px;
    background-color: #D58D8F;
    border: 2px solid #D4272C;
    border-radius: 5px;
    color: #BE1530; 
    padding: 1em;
    position: relative;
    text-align: left;
}
.label .error a{
    text-decoration: none;
    color: #0006EF !important;
}
.label i:hover{
    cursor: pointer;
}
.label #process-content-text {
    display: none;
    color: #5bbc2e;
}
.dz-filename span{
	border: 1px dashed rgba(0, 0, 0, 0.8);
}
.dropzone_new {
  height: 100%;
  width: 100%;
  border: 2px solid #2c2c2c;
}
#dropzone p {
    font-size:15px;
}
#dropzone a {
    color: #5bbc2e;
}
#dropzone .label {
    top: 20%;
}
#dropzone img {
    top: 20%;
}
#dropzone .dz-preview {
    top: 20%;
}
#progressbar {
    top: 20%;
}
@media (max-height: 540px) {
    .label {
        top: 50%;
    }
    img {
        top: 50%;
    }
}
