argh==0.26.2
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.1
Cython==0.29.16
Django==1.11.29
django-appconf==1.0.4
django-systemjs==1.4.3
docx==0.2.4
enum34==1.1.10
evernote==1.25.3
evernote3==1.25.13
gunicorn==19.10.0
html5lib==1.0.1
httplib2==0.17.2
idna==2.9
ipaddress==1.0.23
lockfile==0.12.2
lxml==4.5.0
oauth2==1.9.0.post1
oauthlib==3.1.0
pathtools==0.1.2
pexpect==4.8.0
Pillow==6.2.2
piston-mini-client==0.7.5
pkg-resources==0.0.0
ptyprocess==0.6.0
pycparser==2.20
pycrypto==2.6.1
pyOpenSSL==19.1.0
PyPDF2==1.26.0
pypdfocr==0.9.1
pytz==2019.3
PyYAML==5.3.1
reportlab==3.5.42
requests==2.23.0
requests-oauthlib==1.3.0
semantic-version==2.8.4
six==1.14.0
soupsieve==1.9.5
unoconv==0.9.0
urllib3==1.25.9
watchdog==0.10.2
webencodings==0.5.1
whitenoise==3.3.1
xlrd==1.2.0
youtube-transcript-api==0.3.1
