amqp==5.0.5
asgiref==3.3.1
billiard==3.6.3.0
boto3==1.16.59
botocore==1.19.59
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
coloredlogs==15.0
cryptography==3.4.6
Django==3.1.14
django-celery-results==2.0.1
django-environ==0.4.5
django-http-exceptions==1.4.0
humanfriendly==9.1
idna==2.10
img2pdf==0.4.0
importlib-metadata==3.7.0
jmespath==0.10.0
kombu==5.0.2
lxml==4.6.2
ocrmypdf==11.7.0
pdfminer.six==20201018
pdfrw==0.4
pikepdf==2.10.0
Pillow==8.1.1
pluggy==0.13.1
prompt-toolkit==3.0.16
psycopg2==2.8.6
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.4
reportlab==3.5.62
requests==2.25.1
s3transfer==0.3.4
sanitize-filename==1.2.0
six==1.15.0
sortedcontainers==2.3.0
sqlparse==0.4.1
tqdm==4.58.0
typing-extensions==3.7.4.3
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
youtube-transcript-api==0.4.3
zipp==3.4.0
