{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Drag and Drop a document</title>

	<!--
	  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
	  latest release (https://github.com/enyo/dropzone/releases/latest), and
	  host them yourself!
	-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-181082912-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-181082912-1');
	</script>

	<script src="{% static 'drag&dropfileupload/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'drag&dropfileupload/jquery-ui.js' %}"></script>
	<script src="{% static 'drag&dropfileupload/dropzone.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static "drag&dropfileupload/dropzon.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "drag&dropfileupload/jquery-ui.css" %}" />
    <style>
        #myId p {
            font-size:15px;
        }
        #myId a {
            color: #5bbc2e;
        }
        #myId .label {
            top: 20%;
        }
        #myId img {
            top: 20%;
        }
        #myId .dz-preview {
            top: 20%;
        }
        #progressbar {
            top: 20%;
        }
        @media (max-height: 540px) {
            .label {
                top: 50%;
            }
            img {
                top: 50%;
            }
        }

    </style>
</head>
<!-- Change /upload-target to your upload address -->
<body style="background: #2c2c2c;">
	<div id="progressbar"></div>
	<div class="main" align="center">
		
	    <div id="myId" class="dropzone_new">
			<div class="label">
				Drag and drop a document to annotate it.<br/>

                <input style="border-radius: 3px; padding: 3px; border: 0px;"
                size="30"
                placeholder="&nbsp;or paste a YouTube video URL"
                id="youtube-url"
                onchange="openYouTubeUrl()">

                <div style="color: red; display: none; font-size: 10pt" id="youtube-url-error"></div>

                <p>Works with .pdf, .doc, .docx, .xls, .xlsx, .epub and .csv files.<br/>.doc and .docx are converted to .pdf.<br/>.xls and .xlsx are converted to .csv.</p>
                <p>You can also annotate PDFs inside Google Drive by <a href="javascript:void(0);" onClick="handleAuthClick();">authorizing Hypothes.is within your Google account.</a> <span style="font-weight: bold;">Hypothes.is PDF Annotator</span> will be listed under the "Open with" option for PDF files upon authorization.
                (<a href="https://security.google.com/settings/security/permissions">Uninstall</a>).</p>

				<p>Scanned PDFs will be OCR’d<br/>(please ensure text is horizontal).</p>
				
				<p>
                    The OCR service uses <a href="https://github.com/tesseract-ocr">Tesseract</a>, an open source library.<br/>
				You may have better results using a professional tool (<a href="https://docdrop.org/video/7Gq3ehpv-h0/">tutorial</a>).
                The annotation functionality is enabled by <a href="https://hypothes.is/">Hypothes.is</a>.
                <br>
                The code for this site is <a href="https://github.com/dwhly-proj/droppdf">open source</a>.
                </p>
                <p>
                This is a personal project to explore different ideas and is maintained by Dan Whaley. I’d be delighted to hear any feedback at <a href="https://twitter.com/dwhly">@dwhly</a>.
                </p>
                <p>
                The intention is to keep the site up and running, but no guarantee around the preservation of documents is made. 
                <br>
                As an aside, annotations against PDFs or EPUBs with your Hypothes.is account, are discoverable on that PDF or EPUB regardless of its location (<a href="https://hypothes.is/blog/annotating-pdfs-without-urls/">Background</a>).  As long as you have the original PDF somewhere, you'll always be able to see your annotations on it with Hypothes.is.
                </p>
				
			</div>

			<img src="{% static 'drag&dropfileupload/background.png' %}"></img>
	    </div>
	    
	</div>
	
	<script>

        var myDropzone;
        var addedFile = 0;
        var fileObj;
        var filename = "";
        var ocr_progress;
        var ocr_progress_status = 0;
        var estimated_time = 0;

        var type = "";

        var CLIENT_ID = '{{ client_id }}'; 
        var API_KEY = '{{ api_key }}'; 

        var SCOPES = [
        {% for scope in scopes %}
        "{{ scope }}",
        {% endfor %}
        ];

        //Google Drive Authentication
        function handleAuthClick(event) {
            //give notice if auth keys not present
            if (CLIENT_ID == '' ||  API_KEY == '' || SCOPES == []) {
                alert('Google authorization keys not present. Check configs exist.');
                return;
            }
            gapi.auth.authorize(
                    {client_id: CLIENT_ID,
                    scope: SCOPES.join(' '),
                    immediate: false},
                    handleauthresult);
            return false;
        };

        function handleauthresult(authresult) {
            if (authresult && !authresult.error) {
                //auth was successful.
                //open google drive in new tab
                var d = document.createElement('a');
                d.id = 'open-google-drive';
                d.href = 'https://drive.google.com/drive/my-drive';
                d.target = '_blank';
                document.body.appendChild(d);
                d.click();

                //window.open('https://drive.google.com/drive/my-drive', '_blank');
            } else {
                //auth failed
                return;
            }
        }

        $(document).ready(function(){

            //store label text so we can put it back
            //after upload without typing all that again
            var label_text = $('.label').first().html();

            $( "#progressbar" ).progressbar({
                value: 0
            });
            $( "#progressbar" ).hide();

            var options = {
                url: "{% url 'upload' %}",

                paramName: "file", // The name that will be used to transfer the file
                clickable: false,
                accept: function(file, done) {
                    fileObj = file;
                    $(".main .label").html("<a href='javascript:void(0)' onclick='dropUpload()'>Uploading...</a>")
                    done();
                  },
                init: function() {
                    this.on("addedfile", function(file) {
                        var extention = file.name.split(".");
                        extention = extention[extention.length-1];
                    
                        if (extention == 'pdf' || extention == 'docx' || extention == 'xlsx' || extention == 'doc' || extention == 'xls'|| extention == 'csv' || extention == 'epub'){
                            type = extention
                            if (addedFile == 0) {
                                addedFile = 1;
                            }
                            else {
                                this.removeFile(file);
                            }
                        }
                        else{
                            setTimeout(function() { 
                                alert('Upload Error: Document format not recognized.');
                                $(".main .label").html(label_text);
                                }, 700);
                            this.removeFile(file);
                        }

                    });

                this.on("success", function(file, filename_server) {
                    if(type == 'pdf' || type == 'docx' || type == 'doc')
                    {
                        filename = filename_server;
                        check_list = filename.split("-");
                        check = check_list[0];
                        page_num = check_list[1];
                        temp = [];

                        for(i=2; i<check_list.length; i++)
                            temp.push(check_list[i]);

                        temp = temp.join("-");

                        // start to ocr pdf
                        if(check == "false")
                        {
                            estimated_time = Math.round( page_num * 8 );
                        
                            label = '<div style="font-size:18px">' + page_num.toString() + ' pages to OCR, estimate ' + estimated_time.toString() + ' seconds to complete</div>';
                            $(".main .label").html("OCRing..." + label);

                            $( "#progressbar" ).show();
                            ocr_progress = setInterval(function(){ 
                                                if(ocr_progress_status <= estimated_time * 1000)
                                                {
                                                    remain_time = Math.round((estimated_time * 1000 - ocr_progress_status) / 1000)
                                                    label = '<div style="font-size:18px">' + page_num.toString() + ' pages to OCR, estimate ' + remain_time.toString() + ' seconds to complete</div>';
                                                    $(".main .label").html("OCRing..." + label);
                                                    ocr_progress_status += estimated_time * 10;
                                                    $( "#progressbar" ).progressbar({
                                                        value: ocr_progress_status / (estimated_time * 10)
                                                    });
                                                }
                                                else{
                                                    clearInterval(ocr_progress);
                                                }
                                            }, estimated_time * 10);

                            $.ajax({
                                type: "GET",
                                url:  '{% url "ocr" %}?filename=' + temp,
                                success: function (data) {
                                    clearInterval(ocr_progress);
                                    ocr_progress_status = 0;
                                    estimated_time = 0;
                                    $( "#progressbar" ).hide();
                                    $(".main .label").html("<a href='javascript:void(0)' onclick='dropUpload()'>Drop to upload</a>");
                                    window.location.href = 'pdf/' + data + '/';
                                },
                                error: function (x, e) {
                                }
                            })
                        }
                        else if(check == 'true')
                        {
                        
                            $(".main .label").html("<a href='javascript:void(0)' onclick='dropUpload()'>Drop to upload</a>");
                            window.location.href = 'pdf/' + temp + '/';
                        }
                        else
                        {
                            alert("This file is not a pdf or corrupted.");
                            $(".main .label").html("<a href='javascript:void(0)' onclick='dropUpload()'>Drop to upload</a>")
                        }
                    }
                    else if (type == "epub") {
                        $(".main .label").html("<a href='javascript:void(0)' onclick='dropUpload()'>Drop to upload</a>");
                        window.location.href = 'epub/' + filename_server + '/';
                    }
                    else
                    {
                        $(".main .label").html("<a href='javascript:void(0)' onclick='dropUpload()'>Drop to upload</a>");
                        //var ip = location.host;
                        //window.location.href = "https://via.hypothes.is/http://datapipes.okfnlabs.org/csv/html/?url= http://" + ip + "/static/" + "drop-pdf/" + filename_server;
                        
                        window.location.href = 'csv/' + filename_server + '/';
                    }

                });

                this.on("removedfile", function(file) {
                    if (addedFile == 1) {
                        $.ajax({
                            type: "GET",
                            url:  '{% url "drop" %}?filename=' + filename,
                            success: function (data) {
                                addedFile = 0;
                                fileObj = null;
                                filename = "";
                                ocr_progress_status = 0;
                                estimated_time = 0;
                            },
                            error: function (x, e) {
                            }
                        })
                    }
                    });
                },

            };

            myDropzone = new Dropzone("div#myId", options);
        });

        function dropUpload() {
            if(addedFile == 1){
                myDropzone.removeFile(fileObj);
                $(".main .label").html(label_text);
                addedFile = 0;
                fileObj = null;
                filename = "";
                ocr_progress_status = 0;
                estimated_time = 0;
            }
        }

        function openYouTubeUrl() {
            var match, video

            var url = $('#youtube-url').val();

            if (url.length < 1 || !url) {
                $('#youtube-url-error')
                    .text('')
                    .hide();
                return;
            };

            if ((url.indexOf('youtube.com/watch?') == -1) && (url.indexOf('youtu.be') == -1)) {
                $('#youtube-url-error')
                    .text('not a valid youtube video link')
                    .show();
                    return;
            };

            if ( (url.indexOf('youtu.be') != -1) && (url.indexOf('youtube') == -1) )  {
                video = url.split('/').slice(-1).pop(); 
            } else {
                match = RegExp('[?&]' + 'v=([^&]*)').exec(url);
                video = decodeURIComponent(match[1].replace(/\+/g, ' '));
            }

            if (!video || video.length < 5) {
                $('#youtube-url-error')
                    .text('missing or incorrect video id in link')
                    .show();
                    return;
            };

            window.open('/video/' + video + '/', '_blank');

        }

	</script>

    <script src="https://apis.google.com/js/client.js"></script>
</body>
</html>
