{% load custom_tags %}

<html>
<head><!-- WB Insert -->
	<title>Drag and Drop a document</title>

    <script>
    (function () {
    // Only run injection for top-level window!
    if (window != window.top) {
        return;
    }

    var embed_script = document.createElement("script");
    embed_script.src = "https://hypothes.is/embed.js";
    document.head.appendChild(embed_script);
    window.hypothesisConfig = function() {
        return {showHighlights: true};
    }
    })();
    </script>

	<!-- End WB Insert -->
	<link rel="stylesheet" href="https://via.hypothes.is/oe_/http://datapipes.okfnlabs.org/css/style.css">
	<link type="application/annotator+html" href="https://hypothes.is/app.html" rel="sidebar">
	<script src="https://hypothes.is/assets/scripts/polyfills.bundle.js?077e83" type="text/javascript">
	</script><script src="https://hypothes.is/assets/scripts/jquery.bundle.js?a0abc0" type="text/javascript">
	</script><script src="https://hypothes.is/assets/scripts/injector.bundle.js?298fe4" type="text/javascript">
	</script><link href="https://hypothes.is/assets/styles/icomoon.css?36ecbe" type="text/css" rel="stylesheet">
	<link href="https://hypothes.is/assets/styles/inject.css?178835" type="text/css" rel="stylesheet">
	<link href="https://hypothes.is/assets/styles/pdfjs-overrides.css?3591c3" type="text/css" rel="stylesheet">
</head>

<body class="view-html annotator-highlights-always-on">
	<table>
		<thead>
			<tr>
				<th class="counter header"></th>
				{% for element in title %}
				<th class="header" title="{{ element | format_utf8 }}">{{ element | format_utf8 }}</th>
				{% endfor %}
				
			</tr>
		</thead>
		<tbody>
			{% for element in content %}
			<tr id="L{{ forloop.counter0 }}">
				<td class="counter"><a href="#L{{ forloop.counter0 }}">{{ forloop.counter0 }}</a></td>
				{% for subelem in element %}
				<td><div>{{ subelem | format_utf8 }}</div></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script src="//via.hypothes.is/js_///ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://via.hypothes.is/js_/http://datapipes.okfnlabs.org/js/jquery.tablesorter.js"></script>
	<script src="https://via.hypothes.is/js_/http://datapipes.okfnlabs.org/js/table.js"></script>

</body>
</html>
