{% load custom_tags %}

<html>
<head><!-- WB Insert -->
	<title>Drag and Drop a document</title>
	<script>
	  wbinfo = {}
	  wbinfo.url = "http://datapipes.okfnlabs.org/csv/html/?url=%20https://raw.github.com/datasets/s-and-p-500-companies/master/data/constituents-financials.csv";
	  wbinfo.timestamp = "20160430174505";
	  wbinfo.request_ts = "";
	  wbinfo.prefix = "https://via.hypothes.is/";
	  wbinfo.mod = "";
	  wbinfo.top_url = "https://via.hypothes.is/http://datapipes.okfnlabs.org/csv/html/?url=%20https://raw.github.com/datasets/s-and-p-500-companies/master/data/constituents-financials.csv";
	  wbinfo.is_framed = false;
	  wbinfo.is_live = true;
	  wbinfo.coll = "";
	  wbinfo.proxy_magic = "";
	  wbinfo.static_prefix = "https://via.hypothes.is/static/__pywb";
	</script>

	<script src="https://via.hypothes.is/static/__pywb/wombat.js"> </script>
	<script>
	  wbinfo.wombat_ts = "20160430174505";
	  wbinfo.wombat_scheme = "http";
	  wbinfo.wombat_host = "datapipes.okfnlabs.org";
	  wbinfo.wombat_sec = "1462038305";

	  wbinfo.wombat_opts = {"no_rewrite_prefixes": ["https://hypothes.is/", "/assets/"], "http_cache": "pass"};


	  if (window && window._WBWombat && !window._wb_js_inited && !window._wb_wombat) {
		window._wb_wombat = new _WBWombat(wbinfo);
	  }
	</script>

	<script src="https://via.hypothes.is/static/__pywb/wb.js"> </script>
	<script src="https://via.hypothes.is/static/__pywb/vidrw.js"> </script>

	<!-- Set canonical url -->
	<link rel="canonical" href="http://datapipes.okfnlabs.org/csv/html/?url=%20https://raw.github.com/datasets/s-and-p-500-companies/master/data/constituents-financials.csv">

	<!-- Inject Hypothesis -->
	<script>
	(function () {
	// Only run injection for top-level window!
	if (window != window.top) {
		return;
	}

	var embed_script = document.createElement("script");
	embed_script.src = "https://hypothes.is/embed.js";
	document.head.appendChild(embed_script);
	window.hypothesisConfig = function() {
		return {showHighlights: true};
	}
	})();
    </script>
	<!-- load banner -->
	<script> if (_wb_js) { _wb_js.load(); }</script>


	<!-- End WB Insert -->
	<link rel="stylesheet" href="https://via.hypothes.is/oe_/http://datapipes.okfnlabs.org/css/style.css">
	<link type="application/annotator+html" href="https://hypothes.is/app.html" rel="sidebar">
	<script src="https://hypothes.is/assets/scripts/polyfills.bundle.js?077e83" type="text/javascript">
	</script><script src="https://hypothes.is/assets/scripts/jquery.bundle.js?a0abc0" type="text/javascript">
	</script><script src="https://hypothes.is/assets/scripts/injector.bundle.js?298fe4" type="text/javascript">
	</script><link href="https://hypothes.is/assets/styles/icomoon.css?36ecbe" type="text/css" rel="stylesheet">
	<link href="https://hypothes.is/assets/styles/inject.css?178835" type="text/css" rel="stylesheet">
	<link href="https://hypothes.is/assets/styles/pdfjs-overrides.css?3591c3" type="text/css" rel="stylesheet">
</head>

<body class="view-html annotator-highlights-always-on">
	<table>
		<thead>
			<tr>
				<th class="counter header"></th>
				{% for element in title %}
				<th class="header" title="{{ element | format }}">{{ element | format }}</th>
				{% endfor %}
				
			</tr>
		</thead>
		<tbody>
			{% for element in content %}
			<tr id="L{{ forloop.counter0 }}">
				<td class="counter"><a href="#L{{ forloop.counter0 }}">{{ forloop.counter0 }}</a></td>
				{% for subelem in element %}
				<td><div>{{ subelem | format }}</div></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script src="//via.hypothes.is/js_///ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://via.hypothes.is/js_/http://datapipes.okfnlabs.org/js/jquery.tablesorter.js"></script>
	<script src="https://via.hypothes.is/js_/http://datapipes.okfnlabs.org/js/table.js"></script>

</body>
</html>
