/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #C1C1C1;
	background-image:url(background.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}


html, body {
text-align: center;
}
p {text-align: left;}



#header
{
background-repeat:no-repeat;
width:798px;
height:34px;
margin:0 auto 0 auto;
color:#267B9B;
text-align:center;
font-style:italic;
}

#pagetop
{
height:143px;
}

#pagetop h1
{
display:block;
float:left;
line-height:90px;
color:#FFFFFF;
text-align:left;
font-size:27px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
float:left;
margin-left:23px;
}


#pagetop ul {
	padding: 0px;
	list-style-type: none;
	height:21px;
	text-align:center;
	height:90px;
	overflow:hidden;
}
#pagetop ul li , #pagetop ul li a, #pagetop ul li a:visited{
	display:block;
	float:right;
	margin: 0px;
	text-align:center;
	line-height:100px;
	color:#FFFFFF;
	padding-left:5px;
	padding-right:5px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

#pagetop ul li a:hover{
color:#65A9ED;
}





#main .content
{
text-align:justify;
color:#000000;
word-spacing:3px;
}

#main .content p
{
margin-top:8px;
margin-bottom:8px;
}

#main .content h1
{
font-size:19px;
margin-bottom:12px;
}

.clear
{
clear:both;
}






#footer {
display:block;
width: 798px;
height:50px;
text-align:right;
font-size:10px;
line-height:48px;
}

#footer p{
padding-right:75px;
text-align:right;
}

#footer, #footer a, #footer a:visited{
text-decoration:none;
color:#65A9ED;
}

#footer a:hover{
text-decoration:none;
color:#000000;
}

